.button{
    background-color: rgb(78, 78, 78);
    text-decoration: none;
    color: beige;
    border-radius: 20%;
    margin: 1%;
}
.button:hover{
    background-color: rgb(124, 0, 0);
    color: rgb(230, 230, 230);
}