@import url(navbar.css);
@import url(button.css);

body{
    background-color: rgb(255, 0, 0);
}
.container{
    background-color: rgb(150, 150, 150);
    border-radius: 14px;
    margin-top: 4px;
}

.archi{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}
.archi p, .archi h1{
    display: grid;
    grid-template-columns: 100%;

}
.archi img, .prince-img, .heroic img{
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 10px;
    margin: 8px;
    border: 3px solid rgb(134, 134, 134);

}
.cover_prince, .archi p, .heroic p{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 8px;
    background-color: rgb(148, 148, 148);
    border-radius: 3%;
}

.heroic{
    display: flex;
    justify-content: center;
}
.heroic img{
    display: flex;
    width: 60%;
}